<!DOCTYPE html>
<html>
<head>
	<title>Raffle Entry</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div id="landing">
			<form method="post" action="/raffle">	
				<div class="form-group">
					<p id="name">Enter a number between 0 - 1000:</p><br>
					<input type="text"  class="form-control" name="number" placeholder="Your Number" size="30"> 
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

</body>
</html>