<!DOCTYPE html>
<html>
<head>
	<title>Raffle Entry</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	
	<form method="post" action="/raffle">	
		<div id = "landing">
			<p id="name">Enter a number between 0 - 1000:</p><br>
			<input type="text" name="number" placeholder="Your Number" size="30"> 
		</div>
	</form>

</body>
</html>