<!DOCTYPE html>
<html>
<head>
	<title>Fail To Verify</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div>
		<p>Erm. The code you entered is incorrect.<br>
		Please try again.</p>
	</div>
	<form method="get" action="/home">
        <input type="submit" name="back" value="Back" />
    </form>
</body>
</html>