<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<% include ./partials/templates/head.ejs %>
</head>

<body>
	<div id="numberGame" class="jumbotron">
		<h1>Enter a number between 0 - 1000:</h1>
		<div id="numbersBody">
			<input id="inputNumber" type="text" class="form-control" name="number" placeholder="Your Number" size="30">
			<div id="error" class="alert alert-danger error_class" style="padding: .1rem .2rem;">Couldn't find your Account</div>
			<button id="submitButton" type="button" class="btn btn-primary">Submit</button>
		</div>
	</div>
	<div id="triviaGame" class="jumbotron">
		<h1 id="triviaHeader"></h1>
		<div id="triviaBody">
			<p>Live in-store Trivia Game Show every day at 10am, 2pm, and 6pm EDT.</p>
		</div>
	</div>
	<div id="riddle" class="jumbotron">
		<h1 id="triviaHeader">Riddle me this</h1>
		<div id="triviaBody">
			<h5 class="card-title">What has a foot but no legs?</h5>
			<ul id="riddleGame" class="list-group">
				<li class="list-group-item trivia-question" onselectstart="return false">A snail</li>
				<li class="list-group-item trivia-question" onselectstart="return false">A candle</li>
				<li class="list-group-item trivia-question" onselectstart="return false">Nothing</li>
			</ul>
		</div>
	</div>
	<script>
		countDown = <%= countDown %>
	</script>
	<% include ./partials/templates/jsDefaults.ejs %>



</body>

</html>
