<!DOCTYPE html>
<html>
<head>
	<title>Landing</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div>
		<p>Welcome to our store!<br>
			We offer exclusive discounts and prizes.<br>
			To qualify, we just need to validate your phone number.</p>
	</div>
	<form method="post" action="/number">	
		<div id="landing">
			<p id="name">Enter your phone number:</p><br>
			<input type="text" name="number" placeholder="Your Phone Number" maxlength="11" pattern="\d{11}" required> 
		</div>
	</form>
</body>
</html>