html {
    font-family: 'Roboto', sans-serif;
}

.list-group-item {
    cursor: "defaulte";
}

#trivia {
    font-size: 30px;
}

#gameCountdown {
    padding: 10px 0 0 70px;
    font-size: 30px;
    display: inline-block;
}

#submitButton{
    margin: 10px 0 0 0
}
